<!DOCTYPE html>
<html>
<head>
  <title>KCBC Live Streaming</title>

  <!-- UIkit -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>

  <!-- hls.js -->
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

  <!-- original -->
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="welcome" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
        <h2 class="uk-modal-title uk-text-center">Welcome</h2>
        <p>
          このポップアップを閉じると<span class="uk-text-bold uk-text-primary">全画面表示</span>で配信映像が再生されます。
        </p>
    </div>
  </div>

  <video id="video" class="center" width="1280" height="720" autoplay controls></video>
  <script src="./js/player.js"></script>
</body>
</html>