<!DOCTYPE html>
<html>
<head>
  <title>KCBC Live Streaming</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <video id="video" class="center" width="1280" height="720" controls></video>
  <script src="./js/player.js"></script>
</body>
</html>